.nav-outer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: auto;
    background: transparent;
}

.nav-inner {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.nav-link {
    padding: 20px;
    text-align: center;
    font-size: 30px;
    color: whitesmoke;
}

.nav-menu {
    display: flex;
}

.hero {
    background-image: url("images/Hero.jpg");
    height: 90vh;
    width: 100%;
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    align-content: center;
    vertical-align: middle;
    justify-content: center;
}

.center-div {
    width: 70%;
    display: flex;
    align-content: center;
    vertical-align: middle;
    justify-content: center;
}